<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.PKglobal.SeleniumAssignment.FinalCartPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyMultipleProductsInCheckoutPage</td>
<td>Verify products in checkout page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWhiteProductinCheckoutPage</td>
<td>Verify products in checkout page </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPinkProductinCheckoutPage</td>
<td>Verify products in checkout page </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.PKglobal.SeleniumAssignment.ProductSummaryPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>selectWhiteProduct</td>
<td>Add Product to cart </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>selectPinkProduct</td>
<td>Add Product to cart </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.PKglobal.SeleniumAssignment.HomePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validSearch</td>
<td>Product search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchWithNumbers</td>
<td>Product search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchWithCombinationOfAlphabetsAndSpecialCharacters</td>
<td>Product search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchWithCombinationOfAlphabetsAndNumbers</td>
<td>Product search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchWithNoData</td>
<td>Product search </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchWithSpecialChar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithCapitalLetters</td>
<td>Product search </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
