<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Add Product to cart</td><td>ProductSummaryPageTest.selectPinkProduct()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]<br/>ProductSummaryPageTest.selectWhiteProduct()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]<br/></td></tr>
<tr><td>Product search</td><td>HomePageTest.searchWithNoData()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]<br/>HomePageTest.searchWithCapitalLetters()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]<br/>HomePageTest.searchWithCombinationOfAlphabetsAndNumbers()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]<br/>HomePageTest.validSearch()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]<br/>HomePageTest.searchWithCombinationOfAlphabetsAndSpecialCharacters()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]<br/>HomePageTest.searchWithNumbers()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]<br/></td></tr>
<tr><td>Verify products in checkout page</td><td>FinalCartPageTest.verifyMultipleProductsInCheckoutPage()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]<br/>FinalCartPageTest.verifyWhiteProductinCheckoutPage()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]<br/>FinalCartPageTest.verifyPinkProductinCheckoutPage()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]<br/></td></tr>
</table>
