<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em> Selenium Assignment</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:58:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchWithCapitalLetters()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">searchWithCapitalLetters</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:59:24</td>   <td>27073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchWithCombinationOfAlphabetsAndNumbers()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">searchWithCombinationOfAlphabetsAndNumbers</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:59:55</td>   <td>57549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchWithCombinationOfAlphabetsAndSpecialCharacters()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">searchWithCombinationOfAlphabetsAndSpecialCharacters</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:00:22</td>   <td>84606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchWithNoData()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">searchWithNoData</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:00:48</td>   <td>110592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchWithNumbers()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">searchWithNumbers</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:01:16</td>   <td>139193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchWithSpecialChar()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">searchWithSpecialChar</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>20/04/30 15:02:21</td>   <td>203557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductSummaryPageTest.selectPinkProduct()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]">selectPinkProduct</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>20/04/30 15:03:08</td>   <td>251211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductSummaryPageTest.selectWhiteProduct()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]">selectWhiteProduct</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:58:41</td>   <td>-16110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:59:11</td>   <td>13954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:59:38</td>   <td>41289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:00:08</td>   <td>70787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:00:35</td>   <td>97792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:01:01</td>   <td>123437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:01:32</td>   <td>154846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>20/04/30 15:02:05</td>   <td>188230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductSummaryPageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>20/04/30 15:02:53</td>   <td>235707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductSummaryPageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:03:37</td>   <td>280210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinalCartPageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:04:34</td>   <td>336927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinalCartPageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:05:19</td>   <td>381932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinalCartPageTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:59:10</td>   <td>12903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 14:59:38</td>   <td>40404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:00:07</td>   <td>69926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:00:34</td>   <td>96921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:01:00</td>   <td>122441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:01:31</td>   <td>153961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:02:05</td>   <td>187369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>20/04/30 15:02:52</td>   <td>234808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductSummaryPageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>20/04/30 15:03:36</td>   <td>279311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductSummaryPageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.ProductSummaryPageTest@a2431d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:04:33</td>   <td>335930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FinalCartPageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:05:18</td>   <td>380887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FinalCartPageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:06:01</td>   <td>423535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FinalCartPageTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="b266b3">  <td>20/04/30 15:01:49</td>   <td>171792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.validSearch()[pri:0, instance:com.PKglobal.SeleniumAssignment.HomePageTest@31e5415e]">validSearch</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:03:51</td>   <td>294271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinalCartPageTest.verifyMultipleProductsInCheckoutPage()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">verifyMultipleProductsInCheckoutPage</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:04:48</td>   <td>350454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinalCartPageTest.verifyPinkProductinCheckoutPage()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">verifyPinkProductinCheckoutPage</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
<tr bgcolor="eee7ff">  <td>20/04/30 15:05:31</td>   <td>394056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinalCartPageTest.verifyWhiteProductinCheckoutPage()[pri:0, instance:com.PKglobal.SeleniumAssignment.FinalCartPageTest@1cbb87f3]">verifyWhiteProductinCheckoutPage</td> 
  <td>TestNG-test=Automation Practise Website testing-1@355343799</td>   <td></td> </tr>
</table>
