<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.PKglobal.SeleniumAssignment.SearchItemTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithNumbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithCombinationOfAlphabetsAndSpecialCharacters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithCombinationOfAlphabetsAndNumbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithNoData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithSpecialChar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchWithCapitalLetters</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
