<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:54:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchWithCapitalLetters()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">searchWithCapitalLetters</td> 
  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:08</td>   <td>16316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchWithCombinationOfAlphabetsAndNumbers()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">searchWithCombinationOfAlphabetsAndNumbers</td> 
  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:24</td>   <td>32692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchWithCombinationOfAlphabetsAndSpecialCharacters()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">searchWithCombinationOfAlphabetsAndSpecialCharacters</td> 
  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:41</td>   <td>49757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchWithNoData()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">searchWithNoData</td> 
  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:10</td>   <td>78480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchWithNumbers()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">searchWithNumbers</td> 
  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:31</td>   <td>98838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchWithSpecialChar()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">searchWithSpecialChar</td> 
  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:54:35</td>   <td>-17114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:54:53</td>   <td>1400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:09</td>   <td>17370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:26</td>   <td>33842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:56</td>   <td>63852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:11</td>   <td>79634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:32</td>   <td>99893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchItemTest.setUp()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:54:52</td>   <td>240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:08</td>   <td>16503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:25</td>   <td>32921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:55:54</td>   <td>62760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:10</td>   <td>78625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:31</td>   <td>98978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:54</td>   <td>122466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchItemTest.tearDown()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@265321659</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/04/15 14:56:54</td>   <td>122242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.validSearch()[pri:0, instance:com.PKglobal.SeleniumAssignment.SearchItemTest@26b3fd41]">validSearch</td> 
  <td>main@265321659</td>   <td></td> </tr>
</table>
